#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  h3 {
    text-align: start;
  }
}

h4 {
  margin-top: 32px;
  background-color: #97a5f1;
  border-radius: 4px;
  padding: 8px 0;
}

.section-item-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(400px, 45%));
  gap: 24px 12px;
  margin-top: 12px;
}

.section-item {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(102, 95, 95);
  border-radius: 4px;
  ul {
    list-style: square;
    text-align: start;
  }
}

.toasts .section-item {
  padding: 12px 24px;
  justify-content: space-between;
}

.sidebar-box {
  position: relative;
  overflow-x: hidden;
}

.sidebar-item {
  padding: 160px 24px;
  justify-content: flex-start;
}

.left {
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  justify-content: flex-end;
}

.right {
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

h5 {
  margin-top: 32px;
  border-bottom: 2px solid black;
}

.toasts .section-item {
  position: relative;
  overflow-x: hidden;
}

.toast-button {
  background-color: #97a5f1;
  border-radius: 4px;
  outline: none;
  border: none;
  &:hover {
    background-color: #435099;
  }
  &:focus {
    outline: none;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-box {
  margin-top: 32px;
  width: 100%;
  border-top: 4px solid #2c5514;
}

.logo {
  margin-top: 32px;
  margin-bottom: 32px;
  animation: logo-spin infinite 20s linear;
}
