#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

header {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  h3 {
    text-align: start;
  }
}

h4 {
  margin-top: 32px;
  background-color: #97a5f1;
  border-radius: 4px;
  padding: 8px 0;
}

.section-item-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(400px, 45%));
  gap: 24px 12px;
  margin-top: 12px;
}

.section-item {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(102, 95, 95);
  border-radius: 4px;
  ul {
    list-style: square;
    text-align: start;
  }
}

.sidebar-box {
  position: relative;
  overflow-x: hidden;
}

.sidebar-item {
  padding: 160px 24px;
  justify-content: flex-start;
}

.left {
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  justify-content: flex-end;
}

.right {
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

h5 {
  margin-top: 32px;
  border-bottom: 2px solid black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
